.grid--container {
  padding-left: $lrg-margin;
  padding-right: $lrg-margin;
  display: grid;
  grid-template-columns: $column--count;
  max-width: $max--width;
  column-gap: $grid--gap;
  margin: 0 auto;
  height: 100%;
  > div,
  > header,
  > article {
    margin-top: $lrg-margin;
    margin-bottom: $lrg-margin;
  }
}

.grid--padding--lrg {
  padding-top: $lrg-margin;
  padding-bottom: $lrg-margin;
}

.grid--align--left {
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid--anchor--right--s5--e2{
    grid-column-start: 5;
    grid-row-start: $grid--start;
    grid-column-end: $grid--end - 2;
}

.grid--gc--s1--e5{
    grid-column-start: $grid--start;
    grid-column-end: 5;
}

.grid--gc--s1--e6{
    grid-column-start: $grid--start;
    grid-column-end: 6;
}

.grid--gc--s1--e7{
    grid-column-start: $grid--start;
    grid-column-end: 7;
}

.grid--gc--s7--e11{
    grid-column-start: 7;
    grid-column-end: 11;
}

