@import "../framework/breakpoints.scss";

.grid--container {
  @include viewportLargerThan($phone-max-breakpoint) {
    display: grid;
  }
  grid-template-columns: $column--count;
  // max-width: $max--width;
  column-gap: $grid--gap;
  margin: 0 auto;
  height: 100%;

  > div,
  > header,
  > article {
    margin-top: $lrg-margin;
    margin-bottom: $lrg-margin;
  }
}

.grid--padding--lrg {
  padding-top: $lrg-margin;
  padding-bottom: $lrg-margin;
}

.grid--align--left {
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid--anchor--right--s5--e2 {
  grid-column-start: 5;
  grid-row-start: $grid--start;
  grid-column-end: $grid--end - 2;
}

.grid--gc--s1--e5 {
  grid-column-start: $grid--start;
  grid-column-end: 5;
}

.grid--gc--s1--e6 {
  grid-column-start: $grid--start;
  grid-column-end: 6;
}

.grid--gc--s1--e7 {
  grid-column-start: $grid--start;
  grid-column-end: 7;
}

.grid--gc--s7--e11 {
  grid-column-start: 7;
  grid-column-end: 11;
}

.grid--gc--s7--end {
  grid-column-start: 7;
  grid-column-end: $grid--end;
}

@media only screen and (min-width: $largeQuery) {
  .grid--container {
    max-width: $max--width;
    padding-left: $lrg-margin;
    padding-right: $lrg-margin;
  }
}

@media only screen and (max-width: $medQuery) {
  .grid--container {
    max-width: $max--width;
    padding-left: $lrg-margin;
    padding-right: $lrg-margin;
  }
}

@media only screen and (max-width: $minQuery) {
  .grid--container {
    max-width: 600px;
    padding-left: $sm-margin;
    padding-right: $sm-margin;
  }
  // hide announcement date
  // top bar set 7
  .grid--align--left {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  // bottom bar set 8
}
