$heading--font-family: 'IBM Plex Sans', sans-serif;
$body--font-family: 'Inter', sans-serif;

// Layout sizes
$max--layout--height: 100vh;
$large--layout--height: 66.6vh;
$medium--layout--height: 50vh;
$small--layout--height: 25vh;
$xs--layout--height: 12.5vh;

// Nav
$nav--height--base: 4rem;
$nav--height--small: 3rem;
$nav--height--base--px: 64px;
$nav--height--small--px: 48px;

// Font | Sizing
$h1--font-sz: 6.125rem;
$h2--font-sz: 3.813rem;
$h3--font-sz: 3.063rem;
$h4--font-sz: 2.188rem;
$h5--font-sz: 1.5rem;
$h6--font-sz: 1.25rem;
$subtitle-1--font-sz: 1rem;
$subtitle-2--font-sz: 0.875rem;
$body-1--font-sz: 0.938rem;
$body-2--font-sz: 0.813rem;
$button--font-sz: 0.813rem;
$caption--font-sz: 0.75rem;
$overline--font-sz: 0.75rem;

// Font | Tracking
$h1--tk: -0.09375rem; //1.5px
$h2--tk: -0.03125rem; //-0.5px
$h3--tk: 0; // 0
$h4--tk: 0.015625; //0.25px
$h5--tk: 0; // 0
$h6--tk: 0.009375rem; //0.15px
$subtitle-1--tk: 0.009375rem; //0.15px
$subtitle-2--tk: 0.00625rem; //0.1px
$body-1--tk: 0.03125rem; //0.5px
$body-2--tk: 0.015625rem; //0.25px
$button--tk: 0.015625rem; //1.2px
$caption--tk: 0.025rem; //0.4px
$overline--tk: 0.09375rem; //1.5px
$body--line--height: 2em;

// Margins
$lrg-margin: 5.25rem;
$med-margin: 3rem;
$sm-margin: 1.5rem;
$xs-margin: 0.75rem;

// Buttons
$button--height: 3rem;

// Grid
$grid--gap: 1.5rem;
$mobile--grid--gap: 0.5rem;
$column--count: repeat(12, 1fr);
$max--width: 1440px;
$mobile--max--width: 600px;
$grid--start: 1;
$grid--end: -1;

// Color
$primary-color: #0449b0;
$secondary-color: #012b69;
$background-color: #eee8e7;
$accent-green: #5ce32d;
$accent-yellow: #ffd600;
$accent-orange: #ff9300;
$accent-pink: #ff367a;
$type-color: #141414;
$secondary-type-color: #c4c4c4;

// Greybox (Temporary)
$bg-color--black: #151515; //Nav
$bg-color--black--secondary: #202020;
$bg-color--primary: #0449b0; // Section
$bg-color--primary--translucent: rgba(4, 73, 176, 0.9); // Section
$gb-4: #0000002d; // Images
$primary-color--white: #eee8e7; // text light
$gb--t--dark: #000000; // text dark

$largeQuery: 1281px;
$medQuery: 1280px;
// $minQuery: 961px;
$minQuery: 768px;
