@import '../base/variables';

.banner--header--wrapper {
  .banner--header--content {
    border-top: 2px solid rgba(0, 0, 0, 0.25);
  }
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h5 {
    margin-top: $xs-margin;
  }
  grid-column-start: $grid--start;
  grid-column-end: 4;
  > * {
    margin-bottom: $xs-margin;
  }
}

.testimonial--content {
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // grid-column-start: 5;
  // grid-column-end: 11;
  h2 {
    margin-bottom: $xs-margin;
  }
}

.testimonial--cta--wrapper {
  grid-column-start: 11;
  grid-row-start: 1;
  display: flex;
  align-items: center;
}

.banner--title {
  margin-bottom: $xs-margin;
}

.sponsor--content {
  * {
    margin-right: $xs-margin !important;
    margin-bottom: $xs-margin !important;
  }
  .sponsor--content--row {
    margin-bottom: $med-margin !important;
  }
}

// RegistrationModule
.registration--cta--wrapper {
  margin-top: $lrg-margin;
  display: flex;
  -moz-box-pack: justify;
  justify-content: center;
  :first-child {
    margin-left: $xs-margin;
    margin-right: $xs-margin;
  }
}

.testimonial--wrapper {
  > :first-child {
    grid-column-start: $grid--start;
    grid-column-end: 4;
  }
  > :nth-child(2) {
    grid-column-start: 5;
    grid-column-end: 11;
  }
}

.center--banner {
  align-items: center;
  padding-top: calc(48px + 64px);
  justify-content: center;
  display: flex;
}

// Change the media query to breakpoints
@media only screen and (min-width: $largeQuery) {
  .testimonial--content {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-column-end: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      margin-bottom: $xs-margin;
    }
  }
}

@media only screen and (max-width: $medQuery) {
  .testimonial--wrapper {
    display: flex;
    flex-wrap: wrap;
    > :first-child {
      grid-column-start: $grid--start;
      grid-column-end: 4;
    }
    > :nth-child(2) {
      grid-column-start: 5;
      grid-column-end: 11;
    }
  }
  .banner--wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .banner--header--wrapper {
    width: 100%;
  }
  .testimonial--content {
    width: 66%;
    h2 {
      margin-bottom: $xs-margin;
    }
  }
}

@media only screen and (max-width: $minQuery) {
  .testimonial--wrapper {
    display: flex;
    flex-wrap: wrap;
    > :first-child {
      grid-column-start: $grid--start;
      grid-column-end: 4;
    }
    > :nth-child(2) {
      grid-column-start: 5;
      grid-column-end: 11;
    }
  }

  .banner--wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .banner--header--wrapper {
    width: 100%;
  }

  .testimonial--content {
    width: 66%;
    h2 {
      margin-bottom: $xs-margin;
    }
  }
}
