@import '../base/variables';

// .image--content {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   overflow: hidden;
//   margin-right: $lrg-margin;
// }

// .image--content img {
//   flex-shrink: 0;
//   min-width: 100%;
//   min-height: 100%;
// }
.opportunity--wrapper {
  grid-column-start: 1;
  grid-column-end: -1;
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-around;
  > div {
    margin-right: $sm-margin;
  }
  > :last-child{
      margin-right: 0;
  }
}

@media only screen and (max-width: $minQuery) {
    .opportunity--wrapper {
      display: -moz-box;
      display: flex;
      flex-direction: column;
      > div{
          margin-bottom: $lrg-margin;
      }
    }
}
