@import '../base/_variables.scss';

// Footer base
.footer--logo {
  grid-column-start: $grid--start;
  grid-column-end: 5;
  h3 {
    font-weight: bolder;
    letter-spacing: -1.5px;
  }
}
.footer--links--row {
  grid-column-start: 5;
  grid-column-end: $grid--end;
  height: fit-content;
  display: flex;
  > div {
    margin-right: $med-margin;
  }
}
.footer--links--wrapper {
  li {
    margin-bottom: $xs-margin;
  }
  width: fit-content;
}
.footer--links--h6 {
  margin-bottom: $sm-margin;
}

// Bottom bar
.footer--bottom--bar--contents {
  justify-content: center;
  align-items: center;
  grid-column-end: -1;
  grid-column-start: 1;
  display: flex;
  justify-content: space-between;
}

.social--media--item--wrapper {
  display: flex;
  * {
    margin-right: $xs-margin/2;
  }
}

@media only screen and (min-width: $largeQuery) {
  .grid--container {
    max-width: $max--width;
  }

  .footer--links--row {
    margin-bottom: $med-margin;
  }
}

@media only screen and (max-width: $minQuery) {
  .footer--links--row {
    flex-direction: column;
  }
}
