@import '../base/variables';
%center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Buttons
.link--button {
  @extend %center;
  height: $button--height;
  padding-left: $xs-margin;
  padding-right: $xs-margin;
  letter-spacing: $button--tk;
  font-size: $button--font-sz;
  font-family: $body--font-family;
  margin-left: 24px;
  background-color: $primary-color;
  color: $primary-color--white;
  border-radius: 3px;
}

// Type

// Margin
.announcement--date {
  margin-right: 0;
}
.top--bar--announcement {
  margin-left: 0;
}

.nav--bg--extend {
  // background-color: $bg-color--black;
  background-color: rgb(32, 32, 32);
}
.nav {
  color: $primary-color--white;
  li {
    .active {
      a {
        font-weight: bolder;
        background: $accent-yellow;
        height: 2px;
        bottom: 0;
        display: block;
        content: '';
      }
    }
  }
}

// Grid
.nav--logo--grid {
  grid-column-start: $grid--start;
}
.nav--menu--grid {
  grid-column-start: 8;
  grid-column-end: $grid--end;
  align-self: end;
  * {
    margin-right: 0 !important;
  }
}

// Nav Styles

.nav--logo {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

// Nav Heights
.base--nav {
  height: $nav--height--base;
  font-size: $button--font-sz;
  letter-spacing: $button--tk;
}
.top--nav {
  height: $nav--height--small;
}

.nav {
  display: grid;
  grid-template-columns: $column--count;
  max-width: $max--width;
  column-gap: $grid--gap;
  margin: 0 auto;
  a {
    text-decoration: none;
    color: $primary-color--white;
  }
  .nav--menu {
    display: flex;
    justify-content: right;
    margin-top: auto;
    margin-bottom: auto;
  }
}

// MOBILE

// Hamburger Menu
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $primary-color--white;
}

.grid--align--right {
  grid-column-start: 5;
}

@media only screen and (min-width: $largeQuery) {
  .display--none--nav--desktop {
    display: none;
  }
  .nav {
    max-width: $max--width;
    padding-left: $lrg-margin;
    padding-right: $lrg-margin;
  }

  .nav--menu {
    * {
      margin-left: $xs-margin;
    }
  }
}

@media only screen and (max-width: $medQuery) {
  .display--none--desktop-nav--mobile {
    display: none;
  }
  // Nav Styles
  .nav {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 1rem 1.5rem;
    padding-left: $lrg-margin;
    padding-right: $lrg-margin;
    display: grid;
    grid-template-columns: $column--count;
    max-width: $max--width;
    column-gap: $grid--gap;
    margin: 0 auto;
  }

  .nav--menu {
    position: fixed;
    left: -100%;
    // top: calc(64px + 48px);
    top: 64px;
    flex-direction: column;
    background-color: $primary-color--white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    height: 50vh;
    background-color: $blue--primary--90;
    display: flex;
  }

  .nav--menu.active {
    justify-content: space-around;
    display: flex;
    left: 0;
  }
  .nav--menu {
    justify-content: space-around !important;
    display: flex !important;
  }
  .nav--menu--grid {
    justify-content: space-around !important;
    display: flex !important;
  }

  // Hamburger menu
  .hamburger {
    display: block;
    cursor: pointer;
    grid-column-end: -1;
    background-color: transparent;
    border: none;
    height: inherit;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (max-width: $minQuery) {
  .display--none--topbar--mobile {
    display: none;
  }
  .display--none--desktop-nav--mobile {
    display: none;
  }
  // Nav Styles
  .nav {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 1rem 1.5rem;
    padding-left: $sm-margin;
    padding-right: $sm-margin;
    display: grid;
    grid-template-columns: $column--count;
    max-width: $mobile--max--width;
    column-gap: $grid--gap;
    margin: 0 auto;
  }

  .nav--menu {
    position: fixed;
    left: -100%;
    // top: calc(64px + 48px);
    top: 64px;
    flex-direction: column;
    background-color: $primary-color--white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    height: 50vh;
    background-color: $blue--primary--90;
    display: flex;
  }

  .nav--menu.active {
    justify-content: space-around;
    display: flex;
    left: 0;
  }
  .nav--menu {
    justify-content: space-around !important;
    display: flex !important;
  }
  .nav--menu--grid {
    justify-content: space-around !important;
    display: flex !important;
  }

  // Hamburger menu
  .hamburger {
    display: block;
    cursor: pointer;
    grid-column-end: -1;
    background-color: transparent;
    border: none;
    height: inherit;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
