@import '../base/variables';

.desktop {
  display: none !important;
}

.container {
  height: 100%;
  // display: flex;
  div{
    grid-column-start: 1;
    grid-column-end: -1;
  }
  align-items: center;
  justify-content: center;
}

.scene {
  justify-content: center;
  // height: $cube--face--height;
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.prize--toggle--button {
  background-color: black;
  width: 48px;
  height: 48px;
  font-size: $h4--font-sz;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: lighter;
  border-radius: 5rem;
  color: $accent-orange;
  border: none;
  z-index: 5;
  position: relative;
  transform: translateZ(1100px);
  transform-style: preserve-3d;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.prize--desc--container {
  z-index: 5;
  padding-left: 2rem; // Most ideal for largest cube
}

.cube2 {
  transform: scale(0.7) translateX($cube2--transformX)
    translateY($cube2--transformY);
  button {
    transform: scale(1.42857142857) translateZ(1100px);
  }
}
.cube3 {
  transform: scale(0.4) translateX($cube3--transformX)
    translateY($cube3--transformY);
  button {
    transform: scale(2.5) translateZ(1100px);
  }
}

.cube--small {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube2--small {
  transform: scale(0.7) translateX($cube2--transformX--small)
    translateY($cube2--transformY-small);
  button {
    transform: scale(1.42857142857) translateZ(1100px);
  }
}
.cube3--small {
  transform: scale(0.4) translateX($cube3--transformX--small)
    translateY($cube3--transformY--small);
  button {
    transform: scale(2.5) translateZ(1100px);
  }
}

.cube.show-front {
  transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-right {
  transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-back {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-left {
  transform: translateZ(-100px) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-100px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-100px) rotateX(90deg);
}

.green--cube{
  background: hsla(32, 72%, 40%, 0.7);
}

.blue--cube{
  background: $blue--dim--25;
  opacity: .7;
}

.pink--cube{
  background: $accent-pink;
  opacity: 0.7;
}

.orange--cube{
  background: $accent-orange;
  opacity: 0.7;
}

// Large

.cube__face__short {
  position: absolute;
  width: $cube--short--face--width;
  height: $cube--short--face--height;
  border: 2px solid $primary-color--white;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face {
  position: absolute;
  width: $cube--face--width;
  height: $cube--face--height;
  border: 2px solid $primary-color--white;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.cube__face--front {
  transform: rotateY(0deg) translateZ(200px)
    translateY($cube__face--front--translateY);
}
.cube__face--right {
  transform: skewY(45deg) scaleX(0.5) translateY($cube__face--right--translateY)
    translateX($cube__face--right--translateX) translateZ(150px);
}
.cube__face--back {
  transform: rotateY(5deg) translateY($cube__face--back--translateY)
    translateX($cube__face--back--translateX) translateZ(-115px);
}
.cube__face--left {
  transform: skewY(45deg) scaleX(0.5) translateY($cube__face--left--translateY)
    translateX($cube__face--left--translateX) translateZ(150px);
}
.cube__face--top {
  transform: skewX(45deg) scaleY(0.5) translateX($cube__face--top--translateX)
    translateY($cube__face--top--translateY) translateZ(150px);
}
.cube__face--bottom {
  transform: skewX(45deg) scaleY(0.5)
    translateX($cube__face--bottom--translateX)
    translateY($cube__face--bottom--translateY) translateZ(50px);
}
// === end of cube large ===

// !Small
.cube__face__short--small {
  position: absolute;
  width: $cube--short--face--width--small;
  height: $cube--short--face--height--small;
  border: 2px solid $primary-color--white;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--small {
  position: absolute;
  width: $cube--face--width--small;
  height: $cube--face--height--small;
  border: 2px solid $primary-color--white;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front--small {
  transform: rotateY(0deg) translateZ(200px)
    translateY($cube__face--front--translateY--small);
}
.cube__face--right--small {
  transform: skewY(45deg) scaleX(0.5)
    translateY($cube__face--right--translateY--small)
    translateX($cube__face--right--translateX--small) translateZ(150px);
}
.cube__face--back--small {
  transform: rotateY(5deg) translateY($cube__face--back--translateY--small)
    translateX($cube__face--back--translateX--small) translateZ(-115px);
}
.cube__face--left--small {
  transform: skewY(45deg) scaleX(0.5)
    translateY($cube__face--left--translateY--small)
    translateX($cube__face--left--translateX--small) translateZ(150px);
}
.cube__face--top--small {
  transform: skewX(45deg) scaleY(0.5)
    translateX($cube__face--top--translateX--small)
    translateY($cube__face--top--translateY--small) translateZ(150px);
}
.cube__face--bottom--small {
  transform: skewX(45deg) scaleY(0.5)
    translateX($cube__face--bottom--translateX--small)
    translateY($cube__face--bottom--translateY--small) translateZ(50px);
}
// === end of cube small ===

.cube__face--front {
  transform: rotateY(0deg) translateZ(200px)
    translateY($cube__face--front--translateY);
}
.cube__face--right {
  transform: skewY(45deg) scaleX(0.5) translateY($cube__face--right--translateY)
    translateX($cube__face--right--translateX) translateZ(150px);
}
.cube__face--back {
  transform: rotateY(5deg) translateY($cube__face--back--translateY)
    translateX($cube__face--back--translateX) translateZ(-115px);
}
.cube__face--left {
  transform: skewY(45deg) scaleX(0.5) translateY($cube__face--left--translateY)
    translateX($cube__face--left--translateX) translateZ(150px);
}
.cube__face--top {
  transform: skewX(45deg) scaleY(0.5) translateX($cube__face--top--translateX)
    translateY($cube__face--top--translateY) translateZ(150px);
}
.cube__face--bottom {
  transform: skewX(45deg) scaleY(0.5)
    translateX($cube__face--bottom--translateX)
    translateY($cube__face--bottom--translateY) translateZ(50px);
}

.prize--desc--wrapper {
  transform: translateZ(1000px);
  color: $bg-color--black;
  padding: $sm-margin;
  background-color: $primary-color--white;
  border-radius: 2px;
  position: absolute;
  margin-top: -10rem;
  margin-right: 24px;
}

//large
.prize--desc--container {
  position: absolute;
  margin-top: 15rem;
}

.cta--container {
  width: $cube--face--width;
  justify-content: right;
  display: flex;
  align-items: center;
}

.prize--title--wrapper {
  margin-bottom: $xs-margin;
}

.test--wrapper {
  height: 800px;
  display: flex;
  padding-left: 0;
  align-items: center;
}
.desc--wrapper-1 {
  margin-top: -24rem;
}

.desc--wrapper-2 {
  margin-left: -13rem;
  margin-top: -31rem;
}

.desc--wrapper-3 {
  margin-left: -18rem;
}

@media only screen and (max-width: $minQuery) {
  .scene{
    transform: scale(.5);
    height: auto;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: flex !important;
  }
}

@media only screen and (max-width: $medQuery) {
}

@media only screen and (min-width: $largeQuery) {
  .mobile {
    display: none !important;
  }
  .desktop {
    display: flex !important;
  }
}
