@import '/styles/base/variables';

.content--wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column-start: $grid--start;
  grid-column-end: $grid--end - 4;
  max-width: 1000px;
}

.color--stroke--1 {
  :first-child {
    border-right: 3px solid $accent-orange;
    height: 30%;
    margin-top: 14rem;
  }
  grid-column-start: $grid--end - 3;
  grid-column-end: $grid--end - 3;
}
.color--stroke--2 {
  :first-child {
    border-right: 3px solid $accent-pink;
    height: 30%;
    margin-top: 26rem;
  }
  grid-column-start: $grid--end - 2;
  grid-column-end: $grid--end - 2;
}
.color--stroke--3 {
  :first-child {
    border-right: 3px solid $accent-green;
    height: 30%;
    margin-top: 22rem;
  }
  grid-column-start: $grid--end - 1;
  grid-column-end: $grid--end - 1;
}

.color--stroke--1, .color--stroke--2, .color--stroke--3{
  display: flex;
}

.text--center {
  text-align: center;
}

.margin--bottom--lrg {
  margin-bottom: $lrg-margin;
}

.margin--top--lrg {
  margin-top: $lrg-margin;
}

.margin--bottom--xs {
  margin-bottom: $xs-margin;
}

.content--wrapper--title {
  padding: $xs-margin;
  background-color: rgba(0, 0, 0, 0.2);
  color: $primary-color--white;
  background-color: $blue--primary--75;
  border-radius: 2px;
}

//WORK
.active {
  span {
    display: none;
  }
  .event--toggler {
    cursor: unset;
    &:hover {
      // color: unset;
      border-color: unset !important;
      .expand--icon::before,
      .expand--icon::after {
        background-color: unset !important;
      }
    }
  }
}

.flex--container {
  display: flex;
  // width: 100%;
}

.justify--between {
  justify-content: space-between;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.item--wrapper {
  border-bottom: 1px solid $gray--80;
  padding: 1rem;
}

.schedule--wrapper {
  margin-bottom: $lrg-margin;
}

.event--title {
  margin-bottom: $xs-margin;
}

.event--wrapper {
  p {
    opacity: 0.7;
  }
}

.event--description {
  display: flex;
  align-items: center;
}

.expand--icon {
  height: 12px;
  width: 12px;
  position: relative;
}
.expand--icon::before,
.expand--icon::after {
  content: ' ';
  width: 12px;
  height: 2px;
  background-color: $blue--primary--90;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.15s cubic-bezier(0.42, 0, 0.58, 1);
  opacity: 1;
  border-radius: 2px;
}
.expand--icon::before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.expand--icon::after {
  transform: translate(-50%, -50%);
}

.expand--icon.expanded::before {
  transform: translate(-50%, -50%) rotate(0deg);
}
.expand--icon.expanded::after {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 0;
}

span.toggle--button {
  cursor: pointer;
  margin-right: $xs-margin !important;
  border: none;
}
.toggle--motion--container {
  display: flex;
}

.expand--icon {
  cursor: pointer;
}

.event--toggler {
  cursor: pointer;
  &:hover {
    // color: tomato;
    border-color: tomato !important;
    // border-bottom: 1px solid tomato;
    .expand--icon::before,
    .expand--icon::after {
      background-color: tomato;
    }
  }
}

.event--day--margin {
  margin-bottom: 2 * $lrg-margin;
}

.color--stroke--1, .color--stroke--2, .color--stroke--3{
  display: block;
}

@media only screen and (max-width: $medQuery) {
  .color--stroke--1, .color--stroke--2, .color--stroke--3{
    display: none !important;
  }
}

@media only screen and (max-width: $minQuery) {
  .color--stroke--1, .color--stroke--2, .color--stroke--3{
    display: none !important;
  }
}