@import '../base/variables';

.container {
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
  display: flex;
}

.text--content--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > div {
    margin-bottom: $sm-margin;
    h4 {
      margin-bottom: $xs-margin;
    }
  }
}

@media only screen and (min-width: $largeQuery) {
  .image--content,
  .text--content--wrapper {
    height: 100vh;
    width: 50%;
  }
}

@media only screen and (max-width: $medQuery) {
  .container {
    flex-direction: column;
    > div {
      margin-top: $sm-margin;
    }
    :first-child {
      margin-top: 0;
    }
  }

  .image--content,
  .text--content--wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: $largeQuery) {
  .text--content--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div:first-child {
      border-left: 2px solid $accent-orange;
    }
    > div:nth-child(2) {
      border-left: 2px solid $accent-pink;
    }
    > div:nth-child(3) {
      border-left: 2px solid $accent-yellow;
    }
    > div:nth-child(4) {
      border-left: 2px solid $accent-green;
    }
    > div {
      margin-bottom: $sm-margin;
      height: 15%;
      h4 {
        margin-bottom: $xs-margin;
      }
      h4,
      p {
        margin-left: $xs-margin;
      }
    }
  }
}
