/* BASE - Base Variable file along with starting point Mixins.
========================================================================== */

@import 'base/_variables.scss';
@import 'base/_mixins.scss';

/* FRAMEWORK - Structure and layout files.
========================================================================== */

@import 'framework/_grid.scss';
@import 'framework/_breakpoints.scss';

/* FONTS
========================================================================== */

@import 'type/_type.scss';

/* MODULES - Re-usable site elements.
========================================================================== */

@import 'modules/_scrollbar.scss';
@import 'modules/_buttons.scss';

// GLOBAL EXTRA
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $body--font-family;
  background-color: $background-color;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

// Lists
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $gb--t--dark;
  &:hover {
    color: $primary-color;
  }
}

// Images
.img--contain img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  z-index: 1;
}
.icon--48 {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  img {
    margin: auto;
    height: 36px !important;
    width: 36px !important;
  }
}

// Flex
.flex {
  display: flex;
}
.flex--inherit {
  display: flex;
  > * {
    margin: auto;
  }
}

.center--text {
  text-align: center;
}

// Layout
.extendable--layout {
  height: auto;
}
.max--layout {
  min-height: -moz-calc(100vh - 64px - 48px); /* Firefox */
  min-height: -webkit-calc(100vh - 64px - 48px); /* Chrome, Safari */
  min-height: calc(100vh - 64px - 48px); /* IE9+ and future browsers */
}
.large--layout {
  min-height: $large--layout--height;
}
.medium--layout {
  min-height: $medium--layout--height;
}
.small--layout {
  min-height: $small--layout--height;
}
.xs--layout {
  min-height: $xs--layout--height;
}
.max--height {
  height: 100vh;
}

// Margin

.margin--left--reset {
  margin-left: 0 !important;
}

// delete this
.negative--margin--12--left {
  margin-left: -$sm-margin;
}

.margin--bottom--xs {
  margin-bottom: $xs-margin !important;
}
.margin--bottom--sm {
  margin-bottom: $sm-margin !important;
}
.margin--flush--right {
  margin-right: 0;
}
.margin--flush--left {
  margin-left: 0;
}
.margin--right--xs {
  margin-right: $xs-margin;
}

// Temp
.gb-3 {
  background-color: $gb-3;
}

.gb-2 {
  background-color: $gb-2;
}

footer {
  color: $gb--t--light;
  h3 {
    color: $gb--t--dark;
  }
  a {
    color: $gb--t--light;
  }
}

// Temp
.banner--wrapper {
  > :first-child {
    grid-column-start: $grid--start;
    grid-column-end: 4;
  }
  > :nth-child(2) {
    grid-column-start: 5;
    grid-column-end: 11;
  }
}

.margin--top--xs {
  margin-top: $xs-margin;
}

.center--banner {
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.section--header--wrapper {
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
  grid-row-start: 1;
}

.grid--spread {
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
  display: flex;
  justify-content: space-between;
  > * {
    margin-right: $sm-margin;
  }
  > :last-child {
    margin-right: 0;
  }
}

.grid--simple--spread {
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
}

.scroll--menu {
  grid-column-start: 12;
  grid-column-end: $grid--end;
  * {
    margin-bottom: $xs-margin !important;
  }
}

.flex--justify--center {
  justify-content: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.text--bold {
  font-weight: bolder;
}

.items--flex--med--align {
  display: flex;
  > div {
    margin-right: $med-margin;
  }
}

.display--block {
  display: block !important;
  * {
    display: block !important;
  }
}

/* Style inputs with type="text", select elements and textareas */
input[type='text'],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type='submit'] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type='submit']:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
