/* BASE - Base Variable file along with starting point Mixins.
========================================================================== */

@import 'base/_variables.scss';
@import 'base/_mixins.scss';

/* FRAMEWORK - Structure and layout files.
========================================================================== */

@import 'framework/_grid.scss';
@import 'framework/_breakpoints.scss';

/* FONTS
========================================================================== */

@import 'type/_type.scss';

/* MODULES - Re-usable site elements.
========================================================================== */

@import 'modules/_scrollbar.scss';
@import 'modules/_buttons.scss';

// GLOBAL EXTRA
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $body--font-family;
  background-color: $background-color;
  box-sizing: border-box;
  color: $type-color;
}
* {
  margin: 0;
  padding: 0;
}


.inactive{
  display: none !important;
}

// Lists
li {
  list-style: none;
}

.text--color--black{
  color: $type-color;
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
}
a:after {
  transition: 0.25s ease-in-out;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: $accent-pink;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.arrow--link a {
  color: $bg-color--black;
  opacity: 1;
  transition: cubic-bezier(0.86, 0, 0.07, 1);
  &:hover {
    opacity: 0.7;
  }
}

a:hover:after {
  width: 100%;
  left: 0;
}
// Images
.img--contain img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  z-index: 1;
}
.icon--48 {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  img {
    margin: auto;
    height: 36px !important;
    width: 36px !important;
  }
}

.icon--48--text {
  font-size: 36px;
}

// Flex
.flex {
  display: flex;
}
.flex--inherit {
  display: flex;
  > * {
    margin: auto;
  }
}

.center--text {
  text-align: center;
}

// Layout
.extendable--layout {
  height: auto;
}
.max--layout {
  min-height: -moz-calc(100vh - 64px - 48px); /* Firefox */
  min-height: -webkit-calc(100vh - 64px - 48px); /* Chrome, Safari */
  min-height: calc(100vh - 64px - 48px); /* IE9+ and future browsers */
}
.large--layout {
  min-height: $large--layout--height;
}
.medium--layout {
  min-height: $medium--layout--height;
}
.small--layout {
  min-height: $small--layout--height;
}
.xs--layout {
  min-height: $xs--layout--height;
}
.max--height {
  height: 100vh;
}

// Margin

.margin--left--reset {
  margin-left: 0 !important;
}

// delete this
.negative--margin--12--left {
  margin-left: -$sm-margin;
}

.margin--bottom--xs {
  margin-bottom: $xs-margin !important;
}
.margin--bottom--sm {
  margin-bottom: $sm-margin !important;
}
.margin--bottom--lrg{
  margin-bottom: $lrg-margin !important;
}
.margin--flush--right {
  margin-right: 0;
}
.margin--flush--left {
  margin-left: 0;
}
.margin--right--xs {
  margin-right: $xs-margin;
}
.margin--right--sm {
  margin-right: $sm-margin;
}
.padding--bottom--xs {
  padding-bottom: $xs-margin !important;
}

// Temp
.bg-color--primary {
  background-color: $bg-color--primary;
}

.bg-color--white {
  background-color: $primary-color--white;
  color: $bg-color--black;
}

.text-color--white {
  color: $primary-color--white;
}

.bg-color--primary {
  background-color: $bg-color--primary;
  color: $primary-color--white !important;
}

.bg-color--blue--secondary {
  background-color: $secondary-color;
  color: $primary-color--white !important;
}

.bg-color--black {
  background-color: $bg-color--black;
  color: $primary-color--white;
  position: relative;
}

.bg-color--black--secondary {
  position: relative;
  background-color: $bg-color--black--secondary;
  color: $primary-color--white;
}

// Clean up below

footer {
  color: $primary-color--white;
  h3 {
    color: $primary-color--white;
  }
  a {
    color: $primary-color--white;
  }
}

// Temp
// remove
.banner--wrapper {
  > :first-child {
    grid-column-start: $grid--start;
    grid-column-end: 4;
  }
  > :nth-child(2) {
    grid-column-start: 5;
    grid-column-end: 11;
  }
}

.margin--top--xs {
  margin-top: $xs-margin;
}

// migrated over to banner module
// other use cases must abide by module styling
.center--banner {
  align-items: center;
  padding-top: calc(48px + 64px);
  justify-content: center;
  display: flex;
}

a:hover {
  cursor: pointer;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.section--header--wrapper {
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
  grid-row-start: 1;
}

.grid--spread {
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
  display: flex;
  justify-content: space-between;
  > * {
    margin-right: $sm-margin;
  }
  > :last-child {
    margin-right: 0;
  }
}

.grid--simple--spread {
  grid-column-start: $grid--start;
  grid-column-end: $grid--end;
}

.scroll--menu {
  grid-column-start: 12;
  grid-column-end: $grid--end;
  * {
    margin-bottom: $xs-margin !important;
  }
}

.flex--justify--center {
  justify-content: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.text--bold {
  font-weight: bolder;
}

.display--block {
  display: block !important;
  * {
    display: block !important;
  }
}

/* Style inputs with type="text", select elements and textareas */
input[type='text'],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type='submit'] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type='submit']:hover {
  background-color: #45a049;
}

.no--select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

button {
  outline: none !important;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.nav--wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#tsparticles {
  position: absolute !important;
}

// .dimmed {
//   position: initial;
// }
// .dimmed {
//   h1 {
//     z-index: 10;
//     position: relative;
//   }
// }

// .dimmed:after {
//   content: ' ';
//   z-index: 1;
//   display: block;
//   position: absolute;
//   height: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
//   background: rgba(21, 25, 52, 0.24);
// }

.image--content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: $lrg-margin;
}

.image--content img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.muted--text {
  opacity: 0.7;
}

.body-1 {
  line-height: $body--line--height !important;
}
